/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #cb2aa3;
    color: #444;
    padding: 30px;
}

/* Header styling */
header, footer {
    background: #000000;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
